
.Title {
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    /*margin-bottom: 0.5em;*/
    /*background-color: #F0A488;*/
    /*background-color: #ff9424;*/
    background-color: #ffab31;

    padding-top: 20px;
    color: #fff;
 
    

  }

  #name {
      font-size: 50px;
      font-family: 'Playfair Display';
      font-weight: 700px;
      text-shadow:
      0 0 4px #ffe555,
      0 0 10px #ffe555,
      0 0 15px #ffe555;
      
      letter-spacing: 1.5px;


  }
  @font-face {
      font-family: 'Playfair Display';
      src: local('Playfair Display'), url('./fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf') format('truetype');
        font-weight: 700px;
        font-style:italic;
  }

  